@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
    background-color: #eef3f6;
}
.font-Prata {
    font-family: 'Prata', serif;
  }
  
  .font-AntonSC {
    font-family: 'Anton SC', sans-serif;
  }



  .navbar {
    width: 100%;
}

.cards {
    box-shadow: -16px 15px 0px 0px #0368fe;
  }
.cards:hover {
  box-shadow: -16px 15px 0px 0px #d8d8d8;
}

.candidate-hero{
  background: url('/hero.svg') no-repeat center center/cover;
  height: 85vh;
}