@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eef3f6;
}
.font-Prata {
    font-family: 'Prata', serif;
  }
  
  .font-AntonSC {
    font-family: 'Anton SC', sans-serif;
  }




.navbar {
    background: transparent;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.5s ease;
    
}

.main-text {
    height: 80vh;
}

.card {
    box-shadow: -16px 15px 0px 0px #0368fe;
  }
.card:hover {
  box-shadow: -16px 15px 0px 0px #d8d8d8;
}

.join-section {
  background: url('/grrey.png') no-repeat center center/cover;
  width: 100vw;
  height:  70vh;
}